extends layout

block styles
	script(type="text/template")#template.
		<div id="msr-clndr-main" class="msr-clndr clearfix"> 
			<div class="clndr-controls">
				<div class="clndr-previous-button">&lsaquo;</div>
				<div class="clndr-next-button">&rsaquo;</div>
				<div class="clndr-controls-info">
					<div class="month"><%= month %> <%= year %></div>
					<button class="clndr-today-button">Today</button>
				</div>
			</div>
			<div class="clndr-grid">
				<div class="clearfix">
					<div class="days clearfix">
					<% _.each(days, function(day) { %>
							<div class="box <%= day.classes %>" id="<%= day.id %>">
								<span class="day-number"><%= day.day %></span>
							</div>
					<% }); %>
					</div>
				</div>
			</div>
		</div>

	!= css('msr')
	!= css('vendors/jquery-ui/themes/smoothness/jquery-ui.min')
	!= css('vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker')


block content

	div#msrAvailabilityCal
		div.row #{hotelMonthGroup.current_file}

		div#calendar
		div#hotels
			each hotel in hotels
				div(id='h_'+hotel.id).hotel
					header
						| #{hotel.name}
						- if (user.profile.role.indexOf("admin") >-1)
							a(id="update-button-"+hotel.id, data-toggle="modal", data-target="#modified-prices-modal-"+hotel["id"]).pull-right.btn
								span.fa.fa-refresh
								| Update
							a(id="add-event-modal-but-"+hotel.id, data-toggle="modal", data-target="#add-event-modal-"+hotel["id"]).pull-right.btn
								span.fa.fa-calendar
								| Add event
						span.pull-right.fa.fa-cog.toggle-tabs-button
						span(data-toggle="modal", data-hotel=hotel.id, data-target="#hotel-events-modal").pull-right.fa.fa-calendar-o
					include ./utils/msrTabs.jade


		div#modalContainer
			div(id="hotel-events-modal", tabindex="-1",role="dialog",aria-labelledby="pamf",aria-hidden="true").modal.fade
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(type="button", data-dismiss="modal", aria-label="Close")
								span(arira-hidden="true")
									| &times;
							span(id="myModalLabel").modal-title
								| Hotel Events
								span.hotelName

						div.modal-body.row
							.hotel-events
								div
									header.modal-row
										div.name Name
										div.date From
										div.date To
										div.price Min
										div.price Max
									div#events-list
										each event in events.events
											div.modal-row
												div.name #{event.name}
												div.date #{event.start.format('DD/MM/YYYY')}
												div.date #{event.end.format('DD/MM/YYYY')}
												div.price #{event.priceMin ? event.priceMin : '-'}
												div.price #{event.priceMax ? event.priceMax : '-'}
												div.arrow
													a(
														data-toggle="collapse",
														href="#collapseDiv"+event._id,
														aria-expanded="false",
														aria-controls="collapseExample"
													).fa.fa-chevron-down
												div(id="collapseDiv"+event._id).collapse.event-collapse
													b Details:
													| #{event.details}
													br
													b Hotels:
													each hotel_id in event.hotels
														| #{hotel_id}
													br
													


